.movies {
    margin-bottom: 30px;
}

.movies h2 {
    margin-left: 30px;
}

.movies--listarea {
    overflow-x: hidden;
    padding-left: 30px;
}

.movies--list {
    transition: all ease 0.5s;
    display: flex;
}

.movies--item {
    width: 150px;
    cursor: pointer;
    height: 225px;
}

.movies--item img {
   width: 100%;
   transform: scale(0.9);
   transition: all ease 0.2s;
   height: 100%;
   object-fit: cover;
}

.movies--item img:hover {
    transform: scale(1);
}

.movies--left,
.movies--right {
    position: absolute;
    width: 40px;
    height: 225px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.5s;
}

.movies--left {
    left: 0;
}

.movies--right {
    right: 0;
}

.movies:hover .movies--left,
.movies:hover .movies--right {
    opacity: 1;
}

@media (max-width: 760px) {
    .movies--left,
    .movies--right {
        opacity: 1;
    }
}